<article>
  <style>
          @import url("./css/components/card.css");
          @import url("./css/components/highcharts.css");
  </style>

  <div class="card">
      <figure class="highcharts-figure">
        <div class="container" id="areachart">
          Loading chart...
        </div>
        <p class="highcharts-description">
            Demonstrating a basic area chart, also known as a mountain chart.
            Area charts are similar to line charts, but commonly used to visualize
            volumes.
        </p>
      </figure>
  </div>
</article>
