<article>
  <style>
    @import url("./css/components/card.css");
    @import url("./css/components/highcharts.css");
  </style>

  <div class="card">
    <div class="chart-wrapper">
      <div id="chart-container"></div>
      <div class="control-wrapper">
        <div id="option-label">Choose a caption placement mode:</div>
        <select id="option-controller">
          <option value="0" selected>Top</option>
          <option value="1">Bottom</option>
        </select>
      </div>
    </div>
  </div>
</article>